$text-color-dark: #504A41;
$text-color-medium: #7C7263;
$text-color-light: #A9A59E;

$primary-color: #CDB48F;



$breakpoint-phone: 320px;
$breakpoint-small-tablet: 479px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1023px;

//
// $main-color: #E44631; //orange
// $main-color: #6128FB; // purple

// $grey: #292726; // grey-orange

$grey: #6D6962;
$dark-grey: #5C5750;
$main-color: #C1A47B;


$font-serif: 'Work Sans', sans-serif;
// $font-serif: 'Merriweather', serif;
