


$breakpoint-phone: 320px;
$breakpoint-small-tablet: 479px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1023px;

$dark-grey: #444847;
$main-color: #262f2d;


$font-body: 'Inter', sans-serif;
$font-display: 'Phudu', sans-serif;
// $font-serif: 'Merriweather', serif;

